@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>JNTUA University</h3>
<p>In 1972, by an Act of State Legislature, JNT University was established at Hyderabad and the College of Engineering,
    Anantapur went into the fold of JNTU. Later in the year 2008, by an Act of AP State Legislature, JNTU was trifurcated into three independent universities viz.,
    JNTU,Hyderabad, JNTU, Kakinada and JNTU Anantapur.</p>
